body{
    margin:0;
    padding:0;
    background:#f4f6f9;
    font-family:Arial,Helvetica,sans-serif;
}

.container{
    width:70%;
    margin:40px auto;
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 0 15px rgba(0,0,0,.15);
}

h1{
    text-align:center;
    color:#1f4e79;
    margin-bottom:10px;
}

h2{
    text-align:center;
    color:#222;
}

.card{
    background:#eef5ff;
    padding:25px;
    border-radius:10px;
    margin-top:20px;
}

.card p{
    font-size:20px;
    margin:15px 0;
}

h3{
    margin-top:30px;
}

ul{
    line-height:40px;
    font-size:20px;
}

.quote{
    margin-top:40px;
    text-align:center;
    font-size:26px;
    font-style:italic;
    color:#1f4e79;
    font-weight:bold;
}

.healthy{
    color:green;
    font-weight:bold;
    font-size:22px;
}

footer{
    text-align:center;
    margin-top:40px;
    color:#666;
    font-size:18px;
}

hr{
    margin-top:40px;
}