<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevOps Enterprise Portal</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

<div class="container">

    <h1>🚀 DevOps Enterprise Portal</h1>

    <h2>Welcome Suyog</h2>

    <div class="card">
        <h3>Application Information</h3>

        <p><strong>Status:</strong> 🟢 Running</p>
        <p><strong>Environment:</strong> {{ environment }}</p>
        <p><strong>Version:</strong> {{ version }}</p>
        <p><strong>Hostname:</strong> {{ hostname }}</p>
        <p><strong>Build Time:</strong> {{ build_time }}</p>
    </div>

    <div class="card">
        <h3>Quote of the Day</h3>

        <blockquote>
            "First make it work, then make it reliable, then make it scalable."
        </blockquote>
    </div>

    <footer>
        Built by <strong>Suyog Tilekar</strong>
    </footer>

</div>

</body>
</html>
